.aside {
    grid-area: aside;
    background: #0f7490;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    color: #ebf2f8;
    width: 100%;
    height: 100%;
}

.aside>i {
    padding-right: 1rem;
}

/** .aside {
    grid-area: aside;
    background: #0f7490;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    color: #ebf2f8;

}

.aside a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

**/
.aside> div:hover {
    color: gray;
    background-color: gray;

}

.aside>div {
    width: 100%;
    padding: 0.65rem 1rem;
}

i {
    padding-right: 1rem;
}
.opacity {
    opacity: 0.8;
}

.top {
    background-color: #f3f4f6;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.color-w {
    background-color: white;
}

.border {
    border-bottom: 1px solid gray;
    margin: 1rem 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center>button {
    border-radius: 5px;
    width: 115px;
    height: 35px;

}

.add {
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0, 0.9);
    border: 1px solid gray;
}

.send {
    background: rgb(15, 116, 144, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
}

.header {
    grid-area: header;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.page {
    padding: 0 2rem;

}

.search-bar {
    border: 0;
    padding: 0 1rem;
    width: 100%;
    outline: none;
}

.border-bottom {
    border-bottom: 2px solid #0c6883;
    width: 90%;

}

.border-top {
    border-bottom: 4px solid #dfdfe1;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.page {
    grid-area: page;
    background: #f3f4f6;
    padding: 0;
    height: 100%;
}

.p1 {
    padding: 0 2rem;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'aside aside header header header header header header header header header header'
        'aside aside page page page page page page page page page page';
    gap: 0;
    width: 100%;

}

.overview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.top {
    border: 2px solid #f9fafc;
    color: black;
}

.box {
    background: white;
    border-radius: 10px;
    width: 30%;
    height: 100%;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: .5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    color: gray;
    font-size: 14px;
}

td {
    border-bottom: 2px solid #f3f4f6;
    padding: 8px;
}

th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

.fit-success {
    background: #d7f9e1;
    color: White:;
    width: fit-content;
    border-radius: 12px;
}

.success {
    color: #3f7a59;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 12px;
    font-weight: bold;
}

.fit-processing {
    background: #fff8c4;
    color: #835d25;
    width: fit-content;
    border-radius: 12px;
}

.processing {
    color: #835d25;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 12px;
    font-weight: bold;
}

.fit-failed {
    background: #f3f4f6;
    color: #373b42;
    width: fit-content;
    border-radius: 12px;
}

.failed {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 12px;
    font-weight: bold;
}

.bold-black {
    font-weight: bold;
    color: black;
}